.navbar {
    margin: 0;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  a {
    text-decoration: none;
  }
  
  a:visited {
    color: black;
  }
  .navbar.resume {
    font-family: "Reem Kufi", sans-serif;
    padding-top: 20px;
  }
  
  .navbar.logo {
    justify-content: center;
  }
  
  .navbar.contact {
    font-family: "Reem Kufi", sans-serif;
    padding-top: 20px;
  }



  .footer {
    font-family: "DM Serif Display", serif;
    font-size: 12px;
    padding: 0 auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e61d59;
    color: white;
    text-align: center;
  }