/* MOBILE */

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Reem Kufi", sans-serif;
}
/* NAVBAR */

.navbar {
  background: #fff;
  text-align: center;
  padding: 25px 15px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

a:active {
  color: #e61d59;
}

.nav-word {
  padding-top: 10px;
  text-decoration: none;
  color: #000;
}

/* Intro Section */

.intro-section .container {
  text-align: left;
  padding-left: 25px;
  background: #f1e7e5;
  padding-bottom: 45px;
}

.intro-img {
  border-radius: 300px;
  max-width: 90%;
  margin-top: 50px;
}

.intro-text {
  font-family: "DM Serif Display", serif;
  padding: 25px 25px 0 0;
  color: #e61d59;
  font-size: 35px;
  margin: 0;
}

.intro-info {
  margin: 0;
  word-wrap: normal;
  font-family: "Reem Kufi", sans-serif;
  font-size: 17px;
  padding: 25px 25px 0 0;
  letter-spacing: 0.2px;
}

.intro-info a {
  color: #e61d59;
}

.info_btn {
  padding-top: 25px;
}

.hello-btn {
  text-decoration: none;
  background-color: #e61d59;
  padding: 6px;
  color: white;
}

.hello-btn a:hover {
  background-color: #000;
}

/* MY WORK */

.my-work-section {
  background: #fff;
  /* margin-top: 50px; */
  padding-bottom: 40px;
}

.section-title {
  margin: 0;
  color: #e61d59;
  font-family: "DM Serif Display", serif;
  text-align: left;
  padding: 25px 25px 0 25px;
  font-size: 30px;
}

.project {
  padding-top: 40px;
}

.project-img {
  width: 100%;
  margin: 0;
}

.project-title {
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  text-align: left;
  color: #e61d59;
  padding-left: 25px;
  margin: 0;
}

.project-info {
  font-family: "Reem Kufi", sans-serif;
  font-size: 16px;
  padding: 0 25px 0 25px;
  text-align: left;
  margin: 0;
}

.project-btn {
  padding-left: 25px;
  padding-top: 15px;
}

.project-btn a {
  text-decoration: none;
  background-color: #e61d59;
  padding: 6px;
  color: white;
  font-size: 13px;
  font-family: "Reem Kufi", sans-serif;
}

.project-btn a:hover {
  background: #000;
}

/* OTHER INTERESTS */

.other-interests-section .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  justify-content: center;
  padding: 2em;
  padding-bottom: 100px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e61d59;
}

.footer p {
  color: white;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Reem Kufi", sans-serif;
  font-size: 12px;
}

/* Media Queries */

/* iPad-tablet */

@media (min-width: 700px) {
  .navbar {
    position: fixed;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    padding: 25px 15px;
  }

  /* Intro Section */

  .intro-section .container {
    text-align: left;
    background: #f1e7e5;
    padding: 45px 45px;
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .intro-img {
    border-radius: 300px;
    max-width: 100%;
    margin-top: 150px;
  }

  .intro-text {
    font-family: "DM Serif Display", serif;
    padding: 100px 25px 0 35px;
    color: #e61d59;
    font-size: 35px;
    margin: 0;
  }

  .intro-info {
    margin: 0;
    word-wrap: normal;
    font-family: "Reem Kufi", sans-serif;
    font-size: 17px;
    padding: 25px 25px 0 35px;
    letter-spacing: 0.2px;
  }

  .intro-info a {
    color: #e61d59;
  }

  .info_btn {
    padding-top: 35px;
    padding-left: 35px;
  }

  .hello-btn {
    text-decoration: none;
    background-color: #e61d59;
    padding: 6px;
    color: white;
  }

  .info-btn a:hover {
    background-color: #000;
  }

  /* MY WORK */

  .my-work-section {
    background: #fff;
    /* margin-top: 50px; */
    padding-bottom: 40px;
  }

  .section-title {
    margin: 0;
    color: #e61d59;
    font-family: "DM Serif Display", serif;
    text-align: left;
    padding: 25px 25px 0 25px;
    font-size: 30px;
  }

  .project {
    padding-top: 40px;
  }

  .project-img {
    width: 100%;
    margin: 0;
  }

  .project-title {
    font-family: "DM Serif Display", serif;
    font-size: 25px;
    text-align: left;
    color: #e61d59;
    padding-left: 25px;
    margin: 0;
  }

  .project-info {
    font-family: "Reem Kufi", sans-serif;
    font-size: 16px;
    padding: 0 25px 0 25px;
    text-align: left;
    margin: 0;
  }

  .project-btn {
    padding-left: 25px;
    padding-top: 15px;
  }

  .project-btn a {
    text-decoration: none;
    background-color: #e61d59;
    padding: 6px;
    color: white;
    font-size: 13px;
    font-family: "Reem Kufi", sans-serif;
  }

  .project-btn a:hover {
    background: #000;
  }

  /* OTHER INTERESTS */

  .other-interests-section .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    justify-content: center;
    padding: 3em;
    padding-bottom: 100px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e61d59;
  }

  .footer p {
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Reem Kufi", sans-serif;
    font-size: 12px;
  }
}

@media (min-width: 900px) {
  .navbar {
    position: fixed;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    padding: 25px 15px;
  }

  /* Intro Section */

  .intro-section .container {
    text-align: left;
    padding-left: 35px;
    background: #f1e7e5;
    padding-bottom: 45px;
  }

  .intro-img {
    width: 300px;
    margin-top: 200px;
    border-radius: 300px;
  }

  .intro-text {
    font-family: "DM Serif Display", serif;
    padding: 25px 25px 0 0;
    color: #e61d59;
    font-size: 35px;
    margin: 0;
  }

  .intro-info {
    margin: 0;
    word-wrap: normal;
    font-family: "Reem Kufi", sans-serif;
    font-size: 17px;
    padding: 25px 25px 0 0;
    letter-spacing: 0.2px;
  }

  .intro-info a {
    color: #e61d59;
  }

  .info_btn {
    padding-top: 35px;
  }

  .hello-btn {
    text-decoration: none;
    background-color: #e61d59;
    padding: 6px;
    color: white;
  }

  .hello-btn a:hover {
    background-color: #000;
  }

  /* MY WORK */

  .my-work-section {
    background: #fff;
    /* margin-top: 50px; */
    padding-bottom: 40px;
  }

  .section-title {
    margin: 0;
    color: #e61d59;
    font-family: "DM Serif Display", serif;
    text-align: left;
    padding: 25px 25px 0 25px;
    font-size: 30px;
  }

  .project {
    padding-top: 40px;
  }

  .project-img {
    width: 100%;
    margin: 0;
  }

  .project-title {
    font-family: "DM Serif Display", serif;
    font-size: 25px;
    text-align: left;
    color: #e61d59;
    padding-left: 25px;
    margin: 0;
  }

  .project-info {
    font-family: "Reem Kufi", sans-serif;
    font-size: 16px;
    padding: 0 25px 0 25px;
    text-align: left;
    margin: 0;
  }

  .project-btn {
    padding-left: 25px;
    padding-top: 15px;
  }

  .project-btn a {
    text-decoration: none;
    background-color: #e61d59;
    padding: 6px;
    color: white;
    font-size: 13px;
    font-family: "Reem Kufi", sans-serif;
  }

  .project-btn a:hover {
    background: #000;
  }

  /* OTHER INTERESTS */

  .other-interests-section .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    justify-content: center;
    padding: 3em;
    padding-bottom: 100px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e61d59;
  }

  .footer p {
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Reem Kufi", sans-serif;
    font-size: 12px;
  }
}

@media (min-width: 1000px) {
  .navbar {
    position: fixed;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    padding: 25px 15px;
  }

  /* Intro Section */

  .intro-section .container {
    text-align: left;
    background: #f1e7e5;
    padding: 45px 45px;
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .intro-img {
    border-radius: 300px;
    max-width: 100%;
    margin-top: 100px;
  
  }

  .intro-text {
    font-family: "DM Serif Display", serif;
    padding: 100px 25px 0 35px;
    color: #e61d59;
    font-size: 35px;
    margin: 0;
  }

  .intro-info {
    margin: 0;
    word-wrap: normal;
    font-family: "Reem Kufi", sans-serif;
    font-size: 17px;
    padding: 25px 25px 0 35px;
    letter-spacing: 0.2px;
  }

  .intro-info a {
    color: #e61d59;
  }

  .info_btn {
    padding-top: 35px;
    padding-left: 35px;
  }

  .hello-btn {
    text-decoration: none;
    background-color: #e61d59;
    padding: 6px;
    color: white;
  }

  .info-btn a:hover {
    background-color: #000;
  }

  /* MY WORK */

  .my-work-section {
    background: #fff;
    padding-bottom: 40px;
    
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    padding: 0 25px;
    margin: 0;
  }

  .section-title {
    margin: 0;
    color: #e61d59;
    font-family: "DM Serif Display", serif;
    text-align: left;
    padding: 25px 25px 0 25px;
    font-size: 30px;
  }


  .project-img {
    width: 100%;
    margin: 0;
  }

  .project-title {
    font-family: "DM Serif Display", serif;
    font-size: 25px;
    text-align: left;
    color: #e61d59;
    padding-left: 25px;
    margin: 0;
  }

  .project-info {
    font-family: "Reem Kufi", sans-serif;
    font-size: 16px;
    padding: 0 25px 0 25px;
    text-align: left;
    margin: 0;
  }

  .project-btn {
    padding-left: 25px;
    padding-top: 15px;
  }

  .project-btn a {
    text-decoration: none;
    background-color: #e61d59;
    padding: 6px;
    color: white;
    font-size: 13px;
    font-family: "Reem Kufi", sans-serif;
  }

  .project-btn a:hover {
    background: #000;
  }

  /* OTHER INTERESTS */

  .other-interests-section .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    justify-content: center;
    padding-bottom: 100px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e61d59;
  }

  .footer p {
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Reem Kufi", sans-serif;
    font-size: 15px;
  }
}

@media (min-width: 1200px) {

  /* Intro Section */

  .intro-section .container {
    text-align: left;
    background: #f1e7e5;
   /* padding-bottom: 100px;
    padding-top: 100px; */
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 75px;

  }

  .intro-img {
    border-radius: 300px;
    max-width: 100%;
    margin-top: 100px;
    
    
  
  }

  .intro-text {
    font-family: "DM Serif Display", serif;
    padding: 100px 25px 0 35px;
    color: #e61d59;
    font-size: 50px;
    margin: 0;
  }

  .intro-info {
    margin: 0;
    word-wrap: normal;
    font-family: "Reem Kufi", sans-serif;
    font-size: 20px;
    padding: 25px 45px 0 35px;
    letter-spacing: 0.2px;
    width: 600px;
  }

  .intro-info a {
    color: #e61d59;
  }

  .info_btn {
    padding-top: 35px;
    padding-left: 35px;
  }

  .hello-btn {
    text-decoration: none;
    background-color: #e61d59;
    padding: 6px;
    color: white;
  }

  .info-btn a:hover {
    background-color: #000;
  }

  /* MY WORK */

  .my-work-section {
    background: #fff;
    /* margin-top: 50px; */
    padding-bottom: 40px;
  }

  .section-title {
    margin: 0;
    color: #e61d59;
    font-family: "DM Serif Display", serif;
    text-align: left;
    padding: 25px 25px 0 25px;
    font-size: 30px;
  }

  .project {
    padding-top: 40px;
  }

  .project-img {
    width: 100%;
    margin: 0;
    height: auto;
  }

  .project-title {
    font-family: "DM Serif Display", serif;
    font-size: 25px;
    text-align: left;
    color: #e61d59;
    padding-left: 25px;
    margin: 0;
  }

  .project-info {
    font-family: "Reem Kufi", sans-serif;
    font-size: 16px;
    padding: 0 25px 0 25px;
    text-align: left;
    margin: 0;
  }

  .project-btn {
    padding-left: 25px;
    padding-top: 15px;
  }

  .project-btn a {
    text-decoration: none;
    background-color: #e61d59;
    padding: 6px;
    color: white;
    font-size: 13px;
    font-family: "Reem Kufi", sans-serif;
  }

  .project-btn a:hover {
    background: #000;
  }

  /* OTHER INTERESTS */

  .other-interests-section .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    justify-content: center;
    padding-bottom: 100px;
  }

  .other-interests-section a {
    padding: 0 25px 50px 25px;
  align-content: center;
  margin-left: 40px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e61d59;
  }

  .footer p {
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Reem Kufi", sans-serif;
    font-size: 16px;
  }
}

@media (min-width: 1400px) {

  /* Intro Section */

  .intro-section .container {
    text-align: left;
    background: #f1e7e5;
   /* padding-bottom: 100px;
    padding-top: 100px; */
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 100px;

  }

  .intro-img {
    border-radius: 300px;
    max-width: 100%;
    margin-top: 100px;
    padding-left: 25px;
    
  
  }

  .intro-text {
    font-family: "DM Serif Display", serif;
    padding: 100px 25px 0 35px;
    color: #e61d59;
    font-size: 50px;
    margin: 0;
  }

  .intro-info {
    margin: 0;
    word-wrap: normal;
    font-family: "Reem Kufi", sans-serif;
    font-size: 23px;
    padding: 25px 35px 0 35px;
    letter-spacing: 0.2px;
    width: 700px;
  }

  .intro-info a {
    color: #e61d59;
  }

  .info_btn {
    padding-top: 35px;
    padding-left: 35px;
  }

  .hello-btn {
    text-decoration: none;
    background-color: #e61d59;
    padding: 6px;
    color: white;
  }

  .info-btn a:hover {
    background-color: #000;
  }

  /* MY WORK */

  .my-work-section {
    background: #fff;
    /* margin-top: 50px; */
    padding-bottom: 40px;
  }

  .section-title {
    margin: 0;
    color: #e61d59;
    font-family: "DM Serif Display", serif;
    text-align: left;
    padding: 25px 25px 0 25px;
    font-size: 30px;
  }

  .project {
    padding-top: 40px;
  }

  .project-img {
    width: 100%;
    margin: 0;
  }

  .project-title {
    font-family: "DM Serif Display", serif;
    font-size: 25px;
    text-align: left;
    color: #e61d59;
    padding-left: 25px;
    margin: 0;
  }

  .project-info {
    font-family: "Reem Kufi", sans-serif;
    font-size: 16px;
    padding: 0 25px 0 25px;
    text-align: left;
    margin: 0;
  }

  .project-btn {
    padding-left: 25px;
    padding-top: 15px;
  }

  .project-btn a {
    text-decoration: none;
    background-color: #e61d59;
    padding: 6px;
    color: white;
    font-size: 13px;
    font-family: "Reem Kufi", sans-serif;
  }

  .project-btn a:hover {
    background: #000;
  }

  /* OTHER INTERESTS */

  .other-interests-section .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    justify-content: center;
    padding-bottom: 100px;
  }

  .other-interests-section a {
    padding: 0 25px 50px 25px;
  align-content: center;
  margin-left: 75px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e61d59;
  }

  .footer p {
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Reem Kufi", sans-serif;
    font-size: 16px;
  }
}

