html,
body {
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.navbar {
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
}

nav {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  font-family: "Reem Kufi", sans-serif;
  color: black;
  text-decoration: none;
  background-color: white;
  padding-top: 20px;
  padding-right: 25px;
  padding-left: 25px;
  height: 75px;
  justify-content: space-evenly;
}

nav a {
  text-align: center;
  padding-top: 20px;
  text-decoration: none;
  color: black;
}

nav img {
  margin: 0 auto;
}

.intro {
  padding-top: 100px;
  display: grid;
  grid-template-rows: 75px 100px 40px;
  text-align: center;
}

#Hi {
  font-family: "DM Serif Display", serif;
  height: 20px;
}

#introInfo {
  word-wrap: break-word;
  font-family: "Reem Kufi", sans-serif;
  font-size: 15px;
  padding: 0px 25px 0px 25px;
}

.hello_btn{
  padding-top: 50px;
  justify-items: center;
}

.myWork {
  justify-items: center;
  padding-top: 20px;
}

#someOfMyWork {
  padding-top: 50px;
  color: #e61d59;
  font-family: "DM Serif Display", serif;
  font-size: 24px;
  text-align: center;
}

#myWorkTitle {
  font-family: "DM Serif Display", serif;
  font-size: 18px;
  text-align: center;
  color: #e61d59;
}

#myWorkInfo {
  font-family: "Reem Kufi", sans-serif;
  font-size: 14px;
  padding: 0px 20px 0px 20px;
  text-align: center;
}

#btn {
  align-content: center;
}

.interestsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  justify-content: center;
  padding: 2em;
}

#otherIntTitle {
  color: #e61d59;
  font-family: "DM Serif Display", serif;
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
}

.aboutMe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 3fr;
  grid-gap: 5px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 100px;
}

#aboutMeTitle {
  grid-column: 1/3;
  color: #e61d59;
  font-family: "DM Serif Display", serif;
  font-size: 24px;
  text-align: center;
  margin-bottom: 0px;
}

#aboutMeInfo {
  grid-column: 1/3;
  color: black;
  font-family: "Reem Kufi", sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 0px 20px 0px 20px;
}

.footer {
  font-size: 12px;
  padding: 0 auto;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e61d59;
  color: white;
  text-align: center;
}

/* Media Queries */

@media (min-width: 700px) {
  
  .intro {
    display: grid;
    grid-template-rows: repeat(3, 150px);
  }
  #hi {
    font-size: 30px;
    padding: 0 2em 0 2em;
  }

  #introInfo {
    color: black;
    font-size: 18px;
    padding: 0 2em 0 2em;
  }

  #hello_btn {
    background-color: #e61d59;
    text-decoration: none;
  }
  .myWork {
    display: grid;
    background-color: whitesmoke;
    padding: 2em;
    font-family: "Reem Kufi", sans-serif;
    font-size: 14px;
    padding: 0px 20px 0px 20px;
    text-align: center;
  }

  #myWorkTitle {
    text-align: center;
    color: #e61d59;
    font-size: 20px;
  }

  .myWorkImage {
    display: block;
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .button {
    display: block;
    justify-content: center;
  }

  .interestsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 4em;
    justify-content: center;
    width: auto;
    height: 150px;
  }

  .interestsContainer a {
    justify-content: center;
    margin: auto;
  }

  .aboutMe {
    background-color: whitesmoke;
    padding: 4em;
  }

  #aboutMeInfo {
    font-size: 20px;
  }

  .footer a {
    padding: 30px;
    font-size: 15px; text-align: center;
    font-family: "Reem Kufi", sans-serif;
    font-size: 14px;
    text-align: center;
  }
}


@media (min-width: 1000px) {

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }

  .navbar {
    overflow: hidden;
    top: 0;
    width: 100%;
    position: fixed;
  }

  nav {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    font-family: "Reem Kufi", sans-serif;
    color: black;
    background-color: white;
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 25px;
    height: 75px;
    justify-content: space-evenly;
  }

  nav a {
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    color: black;
  }

  nav img {
    margin: 0 auto;
  }

  .intro {
    display: grid;
    grid-template-rows: repeat(3, 150px);
  }
  #hi {
    font-size: 40px;
    padding: 0 2em 0 2em;
  }

  #introInfo {
    color: black;
    font-size: 25px;
    padding: 0 2em 0 2em;
  }

  #hello_btn {
    background-color: #e61d59;
    text-decoration: none;
  }
  #someOfMyWork {
    background-color: whitesmoke;

  }
  .myWork {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: whitesmoke;
    padding: 2em;
    grid-column-gap: 10px;
  }

  #myWorkTitle {
    text-align: center;
    color: #e61d59;
    font-size: 20px;
  }

  .myWorkImage {
    display: block;
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .button {
    display: block;
    justify-content: center;
  }

  .interestsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 4em;
    justify-content: center;
    width: auto;
    height: 150px;
  }

  .interestsContainer a {
    justify-content: center;
    margin: auto;
  }



  .footer {
    font-size: 15px;
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-size: 14px;
    position: fixed;
  }
}
