/* MOBILE */

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Reem Kufi", sans-serif;
}
/* NAVBAR */

.navbar {
  background: #fff;
  text-align: center;
  padding: 25px 15px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

a:active {
  color: #e61d59;
}

.nav-word {
  padding-top: 10px;
  text-decoration: none;
  color: #000;
}


/* Intro Section */

.intro-section .container{

  text-align: left;
  padding-left: 25px;
  background: #f1e7e5;
  padding-bottom: 45px;
  
  
}

.intro-img {
  border-radius: 300px;
  width: 250px;
  padding-left: 40px;
  padding-top: 40px
}

.intro-text {
  font-family: "DM Serif Display", serif;
  padding: 25px 25px 0 0;
  color: #e61d59;
  font-size: 35px;
  margin: 0;
}

.intro-info {
  margin: 0;
  word-wrap: normal;
  font-family: "Reem Kufi", sans-serif;
  font-size: 17px;
  padding: 25px 25px 0 0;
  letter-spacing: 0.2px;
}

.intro-info a {
  color: #e61d59;
}


.info_btn {
  
  padding-top: 25px;
}

.hello-btn {
  text-decoration: none;
  background-color: #e61d59;
  padding: 6px;
  color: white;
  
}

.hello-btn a:hover{
  background-color: #000;
}



/* MY WORK */

.my-work-section {
 background: #fff;
 /* margin-top: 50px; */
 padding-bottom: 40px;
}

.section-title {
  margin: 0;
  color: #e61d59;
  font-family: "DM Serif Display", serif;
  text-align: left;
  padding: 25px 25px 0 25px;
  font-size: 30px;

}

.project {
  padding-top: 40px;
}

.project-img {
  width: 100%;
  margin: 0;
}


.project-title {
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  text-align: left;
  color: #e61d59;
  padding-left: 25px;
  margin: 0;
}

.project-info { 
  font-family: "Reem Kufi", sans-serif;
  font-size: 16px;
  padding: 0 25px 0 25px;
  text-align: left;
  margin: 0;
}

.project-btn {
  padding-left: 25px;
  padding-top: 15px;
}

.project-btn a{
  text-decoration: none;
  background-color: #e61d59;
  padding: 6px;
  color: white;
  font-size: 13px;
  font-family: "Reem Kufi", sans-serif;
}

.project-btn a:hover {
  background: #000;

}



/* OTHER INTERESTS */

.other-interests-section .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  justify-content: center;
  padding: 2em;
  padding-bottom: 100px;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e61d59;
}

.footer p {
  color: white;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Reem Kufi", sans-serif;
  font-size: 12px;
}

/* Media Queries */
/* iPad-tablet */

@media (min-width: 768px) {
  .navbar {
    overflow: hidden;
    top: 0;
    width: 100%;
    position: fixed;
  }

  nav {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    font-family: "Reem Kufi", sans-serif;
    color: black;
    background-color: white;
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 25px;
    height: 75px;
    justify-content: space-evenly;
    font-size: 18px;
  }

  nav a {
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    color: black;
  }

  nav img {
    margin: 0 auto;
  }

  /* Intro Section */

  section .intro {
    display: grid;
    grid-template-columns: 100px 75px 50px;
    text-align: center;
  }

  section .intro img {
    align-items: left;
    width: 250px;
    padding-left: 60px;
    padding-top: 400px;
  }

  #hi {
    font-size: 30px;
    padding: 0 2em 0 2em;
  }

  #introInfo {
    color: black;
    font-size: 22px;
    padding: 0 2em 0 2em;
  }

  /* .button {
    padding-top: 30px;
  } */
  .hello_btn a {
    text-decoration: none;
    background-color: #e61d59;
    padding: 6px;
    color: white;
  }

  .hello_btn:hover a {
    background-color: black;
  }

  .myWork {
    display: grid;
    background-color: #f1e7e5;
    padding: 2em;
    font-family: "Reem Kufi", sans-serif;
    font-size: 14px;
    padding: 0px 20px 20px 20px;
    text-align: center;
  }

  #myWorkTitle {
    text-align: center;
    color: #e61d59;
    font-size: 20px;
  }

  .myWorkImage {
    display: block;
    width: 100%;
    height: auto;
    justify-content: center;
    padding-top: 25px;
  }

  /* .button {
    display: block;
    justify-content: center;
  } */

  .interestsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 4em;
    justify-content: center;
    width: auto;
    height: 150px;
  }

  .interestsContainer a {
    justify-content: center;
    margin: auto;
  }

  .aboutMe {
    background-color: #f1e7e5;
    padding: 4em;
  }

  #aboutMeInfo {
    font-size: 20px;
  }

  .footer a {
    padding: 30px;
    font-size: 15px;
    text-align: center;
    font-family: "Reem Kufi", sans-serif;
    font-size: 14px;
    text-align: center;
  }
}

MEDIA QUERY 800 @media (min-width: 800px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    padding-bottom: 75px;
    margin: 0;
  }

  .navbar {
    overflow: hidden;
    top: 0;
    width: 100%;
    position: fixed;
  }

  nav {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    font-family: "Reem Kufi", sans-serif;
    color: black;
    background-color: white;
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 25px;
    height: 75px;
    justify-content: space-evenly;
    font-size: 18px;
  }

  nav a {
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    color: black;
  }

  nav img {
    margin: 0 auto;
  }

  .container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 0px;
    padding: 0px 25px 0px 25px;
  }

  .rightside {
    padding: 100px 30px 0px 0px;
  }

  .intro img {
    width: 400px;
    padding-top: 40px;
  }

  .hi {
    grid-row: 2/2;
    color: #e61d59;
    font-family: "DM Serif Display", serif;
    font-size: 50px;
    line-height: 60px;
    padding-left: 50px;
  }

  .introInfo {
    color: black;
    font-size: 18px;
    padding-right: 45px;
    padding-left: 50px;
    margin: 0 auto;
    padding-top: 140px;
    font-family: "Reem Kufi", sans-serif;
  }

  .hello_btn a {
    text-decoration: none;
    background-color: #e61d59;
    padding: 6px;
    color: white;
  }

  .hello_btn:hover a {
    background-color: black;
  }

  .myWorkContainer {
    padding-top: 650px;
  }

  #someOfMyWork {
    background-color: #f1e7e5;
    padding: 30px 30px 10px 30px;
  }
  .myWork {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #f1e7e5;
    height: 450px;
    grid-column-gap: 15px;
  }

  #myWorkTitle {
    text-align: left;
    color: #e61d59;
    font-size: 20px;
  }

  .myWorkImage {
    display: block;
    width: 100%;
    height: auto;
  }

  .proj_btn {
    text-align: left;
  }

  .proj_btn a {
    text-decoration: none;
    background-color: #e61d59;
    padding: 6px;
    color: white;
    font-size: 13px;
    font-family: "Reem Kufi", sans-serif;
    justify-content: left;
  }

  .proj_btn:hover a {
    background-color: black;
  }

  .interestsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 4em;
    justify-content: center;
    width: auto;
    height: 150px;
  }

  .interestsContainer a {
    justify-content: center;
    margin: auto;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e61d59;
  }

  .footer p {
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Reem Kufi", sans-serif;
    font-size: 16px;
    letter-spacing: 0.4px;
  }
}

@media (min-width: 1000px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    padding-bottom: 75px;
    margin: 0;
  }

  .navbar {
    overflow: hidden;
    top: 0;
    width: 100%;
    position: fixed;
  }

  nav {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    font-family: "Reem Kufi", sans-serif;
    color: black;
    background-color: white;
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 25px;
    height: 75px;
    justify-content: space-evenly;
    font-size: 18px;
  }

  nav a {
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    color: black;
  }

  nav img {
    margin: 0 auto;
  }

  .container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 0px;
    padding: 0px 20px 0px 20px;
    grid-column-gap: 20px;
  }

  .rightside {
    padding: 75px 15px 0px 40px;
  }

  .intro img {
    width: 380px;
    padding-left: 20px;
    padding-top: 50px;
  }

  .hi {
    grid-row: 2/2;
    color: #e61d59;
    font-family: "DM Serif Display", serif;
    font-size: 43px;
  }

  .introInfo {
    color: black;
    font-size: 20px;
    padding-right: 30px;
    font-family: "Reem Kufi", sans-serif;
    padding-top: 125px;
  }

  .hello_btn a {
    text-decoration: none;
    background-color: #e61d59;
    padding: 6px;
    color: white;
  }

  .hello_btn:hover a {
    background-color: black;
  }

  .myWorkContainer {
    padding-top: 650px;
  }

  #someOfMyWork {
    background-color: #f1e7e5;
    padding: 30px 30px 10px 30px;
  }
  .myWork {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #f1e7e5;
    height: 450px;
    grid-column-gap: 15px;
  }

  #myWorkTitle {
    text-align: left;
    color: #e61d59;
    font-size: 20px;
  }

  .myWorkImage {
    display: block;
    margin: 0 auto;
    height: auto;
  }

  .proj_btn {
    text-align: left;
  }

  .proj_btn a {
    text-decoration: none;
    background-color: #e61d59;
    padding: 6px;
    color: white;
    font-size: 13px;
    font-family: "Reem Kufi", sans-serif;
    justify-content: left;
  }

  .proj_btn:hover a {
    background-color: black;
  }

  .interestsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 4em;
    justify-content: center;
    width: auto;
    height: 150px;
  }

  .interestsContainer a {
    justify-content: center;
    margin: auto;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e61d59;
  }

  .footer p {
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Reem Kufi", sans-serif;
    font-size: 16px;
    letter-spacing: 0.4px;
  }
}
