html,
body {
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Reem Kufi", sans-serif;
  background-color: #f1e7e5;
}

.navbar {
  background: #fff;
  text-align: center;
  padding: 25px 15px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}


a:active {
  color: #e61d59;
}

.nav-word {
  padding-top: 10px;
  text-decoration: none;
  color: #000;
}


.sayhello {
  font-family: "DM Serif Display", serif;
  padding-left: 15px;
  padding-top: 25px;
  color: #e61d59;
  font-size: 50px;
}

.hello_form {
  padding: 30px 30px 0 30px;
}

.hello_form input {
  width: 300px;
  background-color: #f7f7f7;
  border: hidden;
  padding-bottom: 5px;
  font-size: 20px;
  font-family: "Reem Kufi", sans-serif;
}

.hello_form textarea {
  padding-top: 5px;
  width: 300px;
  height: 100px;
  background-color: #f7f7f7;
  border: hidden;
  font-size: 20px;
  font-family: "Reem Kufi", sans-serif;
  padding-bottom: 5px;
}

button {
  background-color: grey;
  color: white;
  font-size: 15px;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 20px;
  padding-left: 30px;
  padding-top: 30px;
}

.follow a {
  padding-left: 30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e61d59;
}

.footer p {
  color: white;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Reem Kufi", sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
}

@media (min-width: 1000px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }
  .navbar {
    position: fixed;
    overflow: hidden;
    z-index: 1;
    width: 100%;
  }

  
  .sayhello {
    font-family: "DM Serif Display", serif;
    height: 75px;
    padding-top: 120px;
    padding-left: 40px;
    color: #e61d59;
    font-size: 70px;
  }

  .hello_form{
    padding-top: 50px;
    padding-left: 50px;
  }

  .hello_form input {
    width: 500px;
    background-color: #f7f7f7;
    border: hidden;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: "Reem Kufi", sans-serif;
  }

  .hello_form textarea {
    padding-top: 5px;
    width: 500px;
    height: 100px;
    background-color: #f7f7f7;
    border: hidden;
    font-size: 20px;
    font-family: "Reem Kufi", sans-serif;
    padding-bottom: 5px;
  }

  button {
    background-color: grey;
    color: white;
    font-size: 15px;
  }

 h1 {
    font-family: "DM Serif Display", serif;
    font-size: 20px;
    padding-left: 50px;
    padding-top: 30px;
  }

  .follow  {
    padding-left: 20px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e61d59;
  }

  .footer p {
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Reem Kufi", sans-serif;
    font-size: 16px;
    letter-spacing: 0.4px;
  }
}
