html,
body {
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.navbar {
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
  
}

nav {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  font-family: "Reem Kufi", sans-serif;
  color: black;
  text-decoration: none;
  background-color: white;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  height: 75px;
  justify-content: space-evenly;
}

nav a {
  text-align: center;
  padding-top: 20px;
  font-size: 12px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

nav img {
  margin: 0 auto;
}

.aboutMe {
  font-family: "DM Serif Display", serif;
  /* height: 75px; */
  padding-top: 120px;
  padding-left: 15px;
  color: #e61d59;
  font-size: 50px;
}


.bio {
  padding: 0px 50px 50px 50px;
  text-align: left;
}

.bio p {
  font-size: 16px; 
  font-family: "Reem Kufi", sans-serif;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e61d59;
}

.footer p {
  color: white;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Reem Kufi", sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
}


@media (min-width: 1000px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }

  .navbar {
    overflow: hidden;
    top: 0;
    width: 100%;
    position: fixed;
  }

  nav {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    font-family: "Reem Kufi", sans-serif;
    color: black;
    background-color: white;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    height: 75px;
    justify-content: space-evenly;
  }

  nav a {
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
  }

  nav img {
    margin: 0 auto;
  }

  .aboutMe {
    font-family: "DM Serif Display", serif;
    height: 75px;
    padding-top: 120px;
    padding-left: 40px;
    color: #e61d59;
    font-size: 70px;
  }
  .bio {
    padding: 20px 360px 100px 360px;
    text-align: left;
  }
  
  .bio p {
    font-size: 20px; 
    font-family: "Reem Kufi", sans-serif;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e61d59;
  }

  .footer p {
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Reem Kufi", sans-serif;
    font-size: 16px;
    letter-spacing: 0.4px;
  }
}