/* MOBILE */
html,
body {
  max-width: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: "Reem Kufi", sans-serif;
}

/* NAVBAR */
.navbar {
  background: #fff;
  text-align: center;
  padding: 25px 15px;
  display: grid;
  grid-template-columns: 20% 60% 20%;

}

a:active {
  color: #e61d59;
}

.nav-word {
  padding-top: 10px;
  text-decoration: none;
  color: #000;
  margin: 0;
  text-align: center;
}

/* LEFTSIDE CONTENT */

.container {
  margin: 0;
  padding: 0 25px 40px 25px;
  background-color: #f1e7e5;
}

.project-title {
  color: #e61d59;
  font-family: "DM Serif Display", serif;
  font-size: 35px;
  margin: 0;
}

.info {
  font-size: 16px;
  margin: 0;
}

.frameworks p {
  margin: 0;
}

/* RIGHTSIDE */

.right-side {
  padding: 0 25px;
  margin: 0;
}

#title {
  color: #e61d59;
  font-family: "DM Serif Display", serif;
  font-size: 30px;
  margin: 0;
}

.wireframes {
  padding-top: 40px;
}

h2 {
  color: #e61d59;
  font-family: "DM Serif Display", serif;
  margin: 0;
}

h3 {
  color: #e61d59;
  font-family: "Reem Kufi", sans-serif;
  margin: 0;
  padding-top: 20px;
}

.wireframe-info {
  margin: 0;
  font-size: 16px;
  padding-top: 10px;
}

.iPhones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
  padding-top: 20px;
}

.iPhones img {
  width: 150px;
}

.webGifs {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 30px;
  padding-top: 30px;
}

.colorsType {
  padding-top: 20px;
  font-family: "Reem Kufi", sans-serif;
}

#CT-img img {
  width: 350px;
}

.mockups {
  padding-bottom: 100px;
}

/* DASHING */
.dashing_sketch img {
  width: 300px;
}

/* FOOTER */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e61d59;
}

.footer p {
  color: white;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Reem Kufi", sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
}

/* Media Queries */

@media (min-width: 500px) {
  .mockups .iPhones {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .iPhones img {
    width: 200px;
    height: auto;
  }
}

@media (min-width: 700px) {
  html,
  body {
    background-color: #f1e7e5;
  }

  .navbar {
    position: fixed;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    padding: 25px 15px;
  }

  .project-container {
    display: grid;
    grid-template-columns: 40% 60%;
    padding-top: 120px;
  }

  .left-side {
    grid-column: 1/2;
    position: fixed;
    width: 300px;
    padding-bottom: 100px;
    margin: 0;
  }
  .project-title {
    margin: 0;
    
  }
  .frameworks p {
    margin: 0;
    font-size: 15px;
  }
  .info {
  
    font-size: 15px;
    
  }

  .right-side {
    grid-column: 2/2;
  }

  .wireframe-info p {
    font-size: 15px;
    
  }

  .mockups .iPhones {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .iPhones img {
    width: 175px;
    height: auto;
  }

  .footer p {
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Reem Kufi", sans-serif;
    font-size: 14px;
    letter-spacing: 0.4px;
    
  }
}

@media (min-width: 1000px) {
  html,
  body {
    background-color: #f1e7e5;
  }

  .navbar {
    position: fixed;
    overflow: hidden;
    z-index: 1;
    width: 100%;
  }

  .project-container {
    display: grid;
    grid-template-columns: 40% 60%;
    padding-top: 120px;
  }

  .left-side {
    grid-column: 1/2;
    position: fixed;
    width: 400px;
  }

  .info {
    padding-top: 20px;
    font-size: 18px;
  }

  .right-side {
    grid-column: 2/2;
  }

  .wireframe-info p {
    font-size: 18px;
  }

  .mockups .iPhones {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .iPhones img {
    width: 250px;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .mockups .iPhones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .iPhones img {
    width: 275px;
    height: auto;
  }
}
