html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.navbar {
  margin: 0;
  /* display: grid; */
  /* grid-template-columns: 20% 60% 20%; */
}

.resume {
  width: 500px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.navbar {
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
}

nav {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  font-family: "Reem Kufi", sans-serif;
  color: black;
  text-decoration: none;
  background-color: white;
  padding-top: 20px;
  padding-right: 20px;
  height: 75px;
  justify-content: space-evenly;
}

nav a {
  text-align: center;
  padding-top: 20px;
  font-size: 12px;
  font-weight: bold;
}

nav img {
  margin: 0 auto;
}

.framework_logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
}

.container {
  padding: 100px 20px 100px 20px;
  text-align: left;
}

#info {
  font-family: "Reem Kufi", sans-serif;
  font-size: 14px;
  padding-top: 10px;
}

.dashing_sketch img {
  width: 300px;
}

#title {
  color: #e61d59;
  font-family: "DM Serif Display", serif;
  font-size: 30px;
}

.wireframes {
  padding-top: 15px;
}

h2 {
  color: #e61d59;
  font-family: "DM Serif Display", serif;
}

h3 {
  color: #e61d59;
  font-family: "Reem Kufi", sans-serif;
}

.iPhones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
  padding-top: 20px;
}

.webGifs {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 30px;
  padding-top: 30px;

}

.colorsType {
  padding-top: 20px;
  font-family: "Reem Kufi", sans-serif;
}

#CT-img img{
  width: 350px;
}

.mockups {
  padding-bottom: 40px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e61d59;
  color: white;
  text-align: center;
}

.footer p {
  font-family: "DM Serif Display", serif;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Media Queries */


@media (min-width: 700px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }

  .navbar {
    overflow: hidden;
    top: 0;
    width: 100%;
    position: fixed;
  }

  nav {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    font-family: "Reem Kufi", sans-serif;
    color: black;
    background-color: white;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    height: 75px;
    justify-content: space-evenly;
  }

  nav a {
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
  }

  nav img {
    margin: 0 auto;
  }

  .container {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 3em;
    grid-column-gap: 15px;
    padding-top: 50px;
  }

 

  .leftSide {
    padding-top: 40px;
    position: fixed;
    width: 30%;
  }

  .leftSide #title {
    font-size: 30px;
  }

  .leftSide #info {
    font-size: 14px;
    padding-right: 1em;
    word-wrap: inherit;
  }

  .rightSide {
    grid-column: 2/3;
    padding-top: 40px;
    grid-row-gap: 40px;
  }

  .iPhones {
    width: auto;
  }

  .iPhones img {
    width: 150px;
  }

  #info {
    font-size: 15px;
  }

  #CT-img {
    width: 200px;
  }

  .footer {
    text-align: center;
    font-family: "DM Serif Display", serif;
    position: fixed;
  }

  .footer p {
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-size: 15px;
    letter-spacing: 0.5px;
  }
}



@media (min-width: 1000px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }

  .navbar {
    overflow: hidden;
    top: 0;
    width: 100%;
    position: fixed;
  }

  nav {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    font-family: "Reem Kufi", sans-serif;
    color: black;
    background-color: white;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    height: 75px;
    justify-content: space-evenly;
  }

  nav a {
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    color: black;
    font-size: 16px;
  }

  nav img {
    margin: 0 auto;
  }

  .container {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 3em;
    grid-column-gap: 15px;
    padding-top: 50px;
  }

  .leftSide {
    padding-top: 40px;
    position: fixed;
    width: 30%;
  }

  .leftSide #title {
    font-size: 35px;
  }

  .leftSide #info {
    font-size: 16px;
    padding-right: 1em;
    word-wrap: inherit;
  }


  .rightSide {
    grid-column: 2/3;
    padding-top: 40px;
    grid-row-gap: 40px;
  }

  .iPhones {
    width: auto;
  }

  .iPhones img {
    width: 350px;
  }

  .dashing_sketch img{
    width: 700px;
  }

  #info {
    font-size: 18px;
  }

  #CT-img img{
    width: 500px;
  }

  .footer {
    text-align: center;
    font-family: "DM Serif Display", serif;
    position: fixed;
  }

  .footer p {
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-size: 15px;
    letter-spacing: 0.5px;
  }
}

